{% extends "LWebapp/base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
    
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est esse dicta odio quam neque omnis error maiores ducimus harum, corrupti incidunt eligendi modi reiciendis cupiditate eius perferendis itaque minus debitis.</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit expedita ut deserunt, cumque nam alias officia minima placeat quo reprehenderit incidunt, dignissimos qui quisquam quasi quidem nostrum? Tempore, sunt nemo.</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nulla in saepe, neque perspiciatis, incidunt quos totam velit reprehenderit nemo provident voluptatum vero nostrum asperiores fuga aperiam. Consequatur, saepe tempora.</h3>
</div>
   </div>

{% endblock %}
